<div id="about" ng-controller="aboutCtrl" ng-show="showAbout.show">
    <div id="ab-toolbar">
        <a ng-href="javascript:void(0)" ng-click="hideAbout()"></a>
    </div>
    <div class="ab-content">
        <h1>关于 Kill Words</h1>
        <p>这是个人的一个小项目。为了学习AngularJs而存在。</p>
    </div>
    <div id="ab-contact">
        <a class="ic-github" target="_blank" href="http://github.com/sunivengg">g</a><a class="ic-weibo" target="_blank" href="http://weibo.com/sualwaysnai/">s</a><a class="ic-twitter" target="_blank" href="http://twitter.com/sunivengg">t</a><a href="javascript:void(0)" class="ic-email">e<span>sunivengg@gmail.com</span></a>
    </div>
</div>