<div id="wrapper" ng-controller="fetchData">
    <div class="head">
        <div id="header">
            <a href="staticfile.org" id="title">Kill Words 词典</a>
            <ul id="entrance">
                <li><a href="">查询历史</a> / </li>
                <li><a href="">生词本</a> / </li>
                <li><a href="#/about">简介</a></li>
            </ul>
        </div>
        <div id="purpose">
            <p>我们的目标是提供这样一个词典：它能查到你想查的单词和想翻译的句子。同时，也提供搜索查询历史和生词笔记的入口，让所有人都能复习自己查过的单词，而不是查过就算了。</p>
            <pre>使用方法：在搜索框中输入要查询的内容</pre>
        </div>
        <div id="search" ng-keydown="selectByKey($event)" ng-mouseover="selectByCursor($event)" ng-click="selectByClick($event)">
            <input ng-change="check()" ng-blur="blur()" ng-model="query" type="text" placeholder="请输入中文或英文 .." autofocus autocomplete="off"/>
            <ul id="history" ng-if="isShow.historyList">
                <li ng-repeat="h in history">{{h}}</li>
            </ul>
        </div>
        <div class="gh-info">
            <iframe ng-src="http://ghbtns.com/github-btn.html?user=sunivengg&amp;repo=Kill_Words&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" height="20px" scrolling="0" width="85px" src="http://ghbtns.com/github-btn.html?user=sunivengg&amp;repo=Kill_Words&amp;type=watch&amp;count=true"></iframe>
            <iframe ng-src="http://ghbtns.com/github-btn.html?user=sunivengg&amp;repo=Kill_Words&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20" src="http://ghbtns.com/github-btn.html?user=sunivengg&amp;repo=Kill_Words&amp;type=fork&amp;count=true"></iframe>
        </div>
    </div>
    <div class="libs">
        <p id="loading" ng-if="!checkView.loaded">I'm waiting...</p>
        <div class="lib" ng-if="checkView.loaded">
            <h2>{{data.title}}<span title="变红加入生词本，变灰从生词本移除" ng-click="bookmark($event)">h</span></h2>
            <table>
                <tbody>
                <tr>
                    <th>{{header.mainTitle}}</th>
                    <td>
                        <h5 class="pronounce" ng-if="checkView.isWord">[&nbsp;{{data.basic.pronounce}}&nbsp;]</h5>
                        <ul class="meaning">
                            <li ng-if="checkView.isWord" ng-repeat="item in data.basic.explains"><i>{{item.type}}&nbsp;</i>{{item.content}}</li>
                            <li ng-if="!checkView.isWord">{{data.translation}}</li>
                        </ul>
                    </td>
                </tr>
                <tr ng-if="checkView.isWord">
                    <th>{{header.subTitle}}</th>
                    <td>
                        <ul class="extend" ng-repeat="item in data.web">
                            <h5>{{item.key}}</h5>
                            <li ng-repeat="i in item.value">{{i}}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="footer">
        <p><small>Designed by <a href="https://github.com/sofish">@sofish</a></small></p>
        <p><small>&copy; Copyright 2014<a href="https://github.com/sunivengg"><em> sunaiwen </em></a>.Built upon love.</small></p>
    </div>
</div>

