.clearPrefix {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 10px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
input {
  -webkit-appearance: none;
}
::selection {
  background-color: #1ABC9C;
  color: #fff;
}
::-moz-selection {
  background-color: #1ABC9C;
  color: #fff;
}
div.head {
  background-color: #1ABC9C;
  color: #fff;
  font-size: 13px;
}
div.head a {
  color: #fff;
}
#header {
  width: 79.4%;
  margin: 0 auto;
  padding-top: 36px;
}
#header:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#title {
  float: left;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 0 #d0d0d0, 1px 1px 0 #a0a0a0, 2px 2px 0 #717171, 2px 2px 0 #424242, 3px 3px 2px rgba(0, 0, 0, 0.2), 3px 3px 1px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2), 3px 3px 8px rgba(0, 0, 0, 0.6);
}
#entrance {
  float: right;
  line-height: 30px;
}
#entrance:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#entrance li {
  float: left;
}
#purpose {
  text-align: center;
  max-width: 600px;
  margin: 56px auto 0;
  padding: 0 22%;
}
#purpose pre {
  width: 90%;
  max-width: 460px;
  margin: 18px auto 0;
  padding: 8px 0;
  text-align: center;
  line-height: 24px;
  background-color: #0A4A3E;
  border-radius: 3px;
  color: #34b22b;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#purpose pre small {
  color: #aaaaaa;
}
#purpose pre a {
  color: #eee;
}
#purpose pre a:link {
  color: #eee;
}
#search {
  width: 47%;
  margin: 20px auto 0;
}
#search input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  border: 5px solid #16a085;
  border-radius: 0;
  padding: 10px 0;
  line-height: 25px;
  text-align: center;
  color: #111;
}
#search input:focus {
  outline: none;
}
#search input::-moz-placeholder {
  color: #bbb;
}
div.gh-info {
  text-align: center;
  font-size: 0;
  margin-top: 40px;
  padding-top: 15px;
  height: 40px;
  background-color: #16a086;
}
div.gh-info iframe {
  display: inline-block;
}
div.hot-libs {
  font-size: 0;
  text-align: center;
  background-color: #ECF0F1;
  border-bottom: 1px solid #d2d6d7;
  padding: 5px 0 15px;
  display: none;
}
div.hot-libs a {
  display: inline-block;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}
div.hot-libs a:first-child {
  margin-left: 0;
}
div.hot-libs a img {
  vertical-align: middle;
  height: 30px;
}
div.lib {
  padding: 20px 13% 40px;
  background-color: #ECF0F1;
}
div.lib:nth-child(2n) {
  background-color: #FFFFFF;
}
div.lib h2 {
  margin: 20px 0 0 0;
  color: #2e2f2a;
  font-size: 20px;
  font-weight: normal;
}
div.lib > p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #5d5d5d;
}
div.lib table {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  border: 1px solid #dddee0;
  background-color: #fff;
  border-collapse: collapse;
}
div.lib table tr {
  border-bottom: 1px solid #dddee0;
}
div.lib table tr:last-child {
  border-bottom: 0;
}
div.lib table th,
div.lib table td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}
div.lib table th {
  width: 30%;
  color: #555;
  font-weight: normal;
  vertical-align: text-top;
  background-color: #fbfbfb;
}
div.lib table td {
  width: 70%;
  border-left: 1px solid #dddee0;
  word-wrap: break-word;
}
div.lib table td > h5 {
  color: #16a086;
}
div.lib table td ul.meaning {
  font-size: 15px;
  color: #333;
}
div.lib table td ul.meaning li {
  line-height: 25px;
}
div.lib table td ul.meaning i {
  color: #21bebf;
}
div.lib table td ul.extend {
  margin-top: 25px;
  color: #121212;
  font-size: 13px;
}
div.lib table td ul.extend:first-child {
  margin-top: 0;
}
div.lib table td ul.extend h5 {
  color: #296da2;
}
div.lib table td ul.extend li {
  line-height: 20px;
}
div.lib:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#footer {
  padding-bottom: 24px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia,serif;
  font-style: italic;
}
#footer img {
  width: 290px;
  margin: 50px auto 0;
}
#footer p {
  color: #888;
  margin: 10px 0 0 0;
}
#footer p a {
  color: #1ABC9C;
}
#footer p small {
  margin: 0 4px;
}
@media all and (max-width: 768px) {
  #header {
    text-align: center;
  }
  #purpose {
    display: none;
  }
  #search {
    width: 95%;
    padding: 0 2.5%;
  }
  #title {
    display: block;
  }
  #title,
  #entrance {
    float: none;
  }
  #entrance {
    margin-top: 10px;
  }
  #entrance li {
    float: none;
    display: inline-block;
  }
  div.lib {
    padding-left: 2%;
    padding-right: 2%;
  }
  #footer {
    width: 90%;
  }
  th,
  td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px !important;
  }
}
