.clearPrefix {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
@font-face {
  font-family: 'killWords';
  src: url('../fonts/killWords.eot?-ho0e9a');
  src: url('../fonts/killWords.eot?#iefix-ho0e9a') format('embedded-opentype'), url('../fonts/killWords.woff?-ho0e9a') format('woff'), url('../fonts/killWords.ttf?-ho0e9a') format('truetype'), url('../fonts/killWords.svg?-ho0e9a#killWords') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 10px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
::selection {
  background-color: #1ABC9C;
  color: #fff;
}
::-moz-selection {
  background-color: #1ABC9C;
  color: #fff;
}
div.head {
  background-color: #1ABC9C;
  color: #fff;
  font-size: 13px;
}
div.head a {
  color: #fff;
}
#header {
  width: 79.4%;
  margin: 0 auto;
  padding-top: 36px;
}
#header:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#title {
  float: left;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 0 #d0d0d0, 1px 1px 0 #a0a0a0, 2px 2px 0 #717171, 2px 2px 0 #424242, 3px 3px 2px rgba(0, 0, 0, 0.2), 3px 3px 1px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2), 3px 3px 8px rgba(0, 0, 0, 0.6);
}
#entrance {
  float: right;
  line-height: 30px;
}
#entrance:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#entrance li {
  float: left;
}
#purpose {
  text-align: center;
  max-width: 600px;
  margin: 56px auto 0;
  padding: 0 22%;
}
#purpose pre {
  width: 90%;
  max-width: 460px;
  margin: 18px auto 0;
  padding: 8px 0;
  text-align: center;
  line-height: 24px;
  background-color: #0A4A3E;
  border-radius: 3px;
  color: #34b22b;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#purpose pre small {
  color: #aaaaaa;
}
#purpose pre a {
  color: #eee;
}
#purpose pre a:link {
  color: #eee;
}
#search {
  width: 47%;
  margin: 20px auto 0;
}
#search input {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  border: 5px solid #16a085;
  border-radius: 0;
  padding: 10px 0;
  line-height: 25px;
  text-align: center;
  color: #111;
}
#search input:focus {
  outline: none;
}
#search input::-moz-placeholder {
  color: #bbb;
}
div.gh-info {
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 0;
  margin-top: 40px;
  padding-top: 15px;
  height: 50px;
  background-color: #16a086;
}
div.gh-info iframe {
  display: inline-block;
}
div.hot-libs {
  font-size: 0;
  text-align: center;
  background-color: #ECF0F1;
  border-bottom: 1px solid #d2d6d7;
  padding: 5px 0 15px;
  display: none;
}
div.hot-libs a {
  display: inline-block;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}
div.hot-libs a:first-child {
  margin-left: 0;
}
div.hot-libs a img {
  vertical-align: middle;
  height: 30px;
}
#loading {
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  color: #777;
}
div.lib {
  padding: 20px 13% 40px;
  background-color: #ECF0F1;
}
div.lib:nth-child(2n) {
  background-color: #FFFFFF;
}
div.lib h2 {
  margin: 20px 0 0 0;
  color: #2e2f2a;
  font-size: 20px;
  font-weight: normal;
}
div.lib > p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #5d5d5d;
}
div.lib table {
  width: 100%;
  margin-top: 15px;
  text-align: left;
  border: 1px solid #dddee0;
  background-color: #fff;
  border-collapse: collapse;
}
div.lib table tr {
  border-bottom: 1px solid #dddee0;
}
div.lib table tr:last-child {
  border-bottom: 0;
}
div.lib table th,
div.lib table td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
}
div.lib table th {
  width: 25%;
  color: #555;
  font-weight: normal;
  vertical-align: text-top;
  background-color: #fbfbfb;
}
div.lib table td {
  width: 75%;
  border-left: 1px solid #dddee0;
  word-wrap: break-word;
}
div.lib table td h5.pronounce {
  color: #16a086;
}
div.lib table td ul.meaning {
  font-size: 15px;
  color: #333;
}
div.lib table td ul.meaning li {
  line-height: 25px;
}
div.lib table td ul.meaning i {
  color: #21bebf;
}
div.lib table td ul.extend {
  margin-top: 25px;
  color: #121212;
  font-size: 13px;
}
div.lib table td ul.extend:first-child {
  margin-top: 0;
}
div.lib table td ul.extend h5 {
  color: #296da2;
}
div.lib table td ul.extend li {
  line-height: 20px;
}
div.lib:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#footer {
  padding-bottom: 24px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia,serif;
  font-style: italic;
}
#footer img {
  width: 290px;
  margin: 50px auto 0;
}
#footer p {
  color: #888;
  margin: 10px 0 0 0;
}
#footer p a {
  color: #1ABC9C;
}
#footer p small {
  margin: 0 4px;
}
#about {
  position: fixed;
  font-size: 0px;
  border-left: 1px solid #1c986e;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}
#about > div {
  display: inline-block;
}
#about .ab-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 5%;
  width: 95%;
  vertical-align: top;
  font-size: 17px;
  color: #777;
}
#ab-toolbar {
  position: relative;
  z-index: 100;
  width: 5%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
#ab-toolbar a {
  display: block;
  width: 100%;
  height: 100%;
}
#ab-toolbar a:after {
  content: '>';
  font-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: killWords;
  color: #fff;
  background-color: #1ABC9C;
}
#ab-toolbar:hover {
  background-color: #1ABC9C;
}
#ab-contact {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ccc;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 25px;
}
#ab-contact a {
  display: inline-block;
  position: relative;
  font-size: inherit;
  vertical-align: middle;
  margin: 0 10px;
  font-family: killWords;
  color: #888;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
#ab-contact a.ic-github:hover {
  color: #222;
}
#ab-contact a.ic-weibo:hover {
  color: #da412d;
}
#ab-contact a.ic-twitter:hover {
  color: #5e97cb;
}
#ab-contact a.ic-email:hover {
  color: #759b4e;
}
#ab-contact a.ic-email:hover span {
  visibility: visible;
  color: #555;
}
#ab-contact a.ic-email span {
  position: absolute;
  padding: 10px;
  width: 150px;
  left: -76px;
  top: -40px;
  line-height: 20px;
  font-size: 10px;
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  text-align: center;
  background-color: #fff;
  visibility: hidden;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}
#ab-contact a.ic-email span:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -6px;
  width: 0px;
  height: 0px;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
@media all and (max-width: 768px) {
  #header {
    text-align: center;
  }
  #purpose {
    display: none;
  }
  #search {
    width: 95%;
    padding: 0 2.5%;
  }
  #title {
    display: block;
  }
  #title,
  #entrance {
    float: none;
  }
  #entrance {
    margin-top: 10px;
  }
  #entrance li {
    float: none;
    display: inline;
  }
  div.lib {
    padding-left: 2%;
    padding-right: 2%;
  }
  #footer {
    width: 90%;
  }
  th,
  td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px !important;
  }
  #about > div {
    display: block;
  }
  #about .ab-content {
    width: 100%;
  }
  #about .ab-content h1 {
    text-align: center;
    font-size: 20px;
  }
  #about .ab-content p {
    font-size: 14px;
  }
  #ab-toolbar {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
  }
  #ab-toolbar:after {
    top: 0;
    margin: 0px;
  }
}
#about.ng-enter {
  -webkit-animation: slideIn 0.5s forwards;
  -moz-animation: slideIn 0.5s forwards;
}
#about.ng-leave {
  -webkit-animation: slideOut 0.5s forwards;
  -moz-animation: slideOut 0.5s forwards;
}
#about.ab-content.ng-enter {
  -webkit-animation: fadeIn 0.5s forwards;
  -moz-animation: fadeIn 0.5s forwards;
}
#about.ab-content.ng-leave {
  -webkit-animation: fadeOut 0.5s forwards;
  -moz-animation: fadeOut 0.5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes slideOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-moz-keyframes slideOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes slideOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes zeroMargin {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes zeroMargin {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes zeroMargin {
  from {
    margin-left: -40px;
  }
  to {
    margin-left: 0;
  }
}
